ul {
  width: 100%;
  margin: auto;
  padding: 0;
}

.list-item {
  background-color: rgb(231, 147, 147);
  list-style: none;
  margin: 1vw auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.weather-section {
  font-size: 60px;
  margin-top: 2rem;
}

.emoji {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}

.weather-text {
  font-size: 25px;
}

.delete-button {
  width: 2rem;
  margin-right: 0;
  background-color: rgb(231, 147, 147);
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
